# unit test runners e.g run-test-ascii_num.c.
run-*.c
*_Runner.c
# unit test coverage files.
*.gcda
*.gcno
*.gcov
# gcovr results (for now)
gcovr*.html
gcovr.css
# in projects
*.o
*.exe
# backups from e.g Winmerge
*.bak
# libs
*.a
#copies
* - Copy.*
# Code::Blocks
codeblocks_gcc/codeblocks_gcc.depend
codeblocks_gcc/codeblocks_gcc.layout
codeblocks_gcc/main.c

src/wordlist/wordlist delim.c

#Atmel Studio 7
as7_util_arm_gcc/.vs/
as7_util_arm_gcc/Debug/

ccs_msp430/.settings/org.eclipse.cdt.codan.core.prefs
/ccs_msp430/Debug/ccsObjs.opt
/ccs_msp430/Debug/*

# AVR32-GCC library build
*.d
*.atsuo
as7_util_avr32/Debug/*
as7_util_avr32/*.xml